@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";
@import "~@edx/frontend-component-footer/dist/footer";

// Small tablets and large smartphones
$screen-sm-min: 470px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;


// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}
// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}
// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}
// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}
// Custom devices
@mixin rwd($screen) {
  @media (min-width: #{$screen+'px'}) {
      @content;
  }
}

.learning-header {
  @include sm {
    display: flex;
    font-size: 12px;
    align-items: center;
    height: 60px !important;
    background: linear-gradient(98.94deg, #02407C -10.01%, #0192D9 107.52%) !important;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06) !important;

  }
  @include lg{
    height: 55px !important;
    background: linear-gradient(98.94deg, #02407C -10.01%, #0192D9 107.52%) !important;
    box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06) !important;
  }
}

.btn-outline-primary {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-outline-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #f0f3f500 !important;
}
.grid {
  @include sm {
    position: relative;
    min-height:200px;
    display: block;
    color:white;
    object-fit: cover;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    background-color: rgba(32, 22, 22, 0.514);
  }
  @include lg {
    position: relative;
    min-height:370px;
    display: block;
    color:white;
    object-fit: cover;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    background-color: rgba(32, 22, 22, 0.514);   
  }
  
}
.course_title_name{
  @include sm {
    font-size: 15px;
    font-family: inter;
    font-weight: 600;
    padding-bottom: 5px;
    font-family: "Inter", sans-serif;
  }
  @include lg {
    font-size: 30px;
    font-family: inter;
    font-weight: 600;
    padding-bottom: 5px;
    font-family: 'Inter', sans-serif;
 }
}

.course_title_short_description{
  @include sm {
    font-family: "poppins";
    font-size: 10px !important;
  }

  @include lg {
    font-family:"poppins";
    font-size:14px;
 }
}

.course_title_description{
  @include sm {
    display: grid;
    align-content: end;
    min-height: 45%;
    padding: 5px;
    font-family: "Inter", sans-serif;    
  }

  @include lg {
    display: grid;
    align-content: end;
    min-height: 70%;
    padding:40px;
    font-family: 'Inter', sans-serif;      
 }
}

.course_title_description p{
  font-size:14px;
}
.course_timing_description{
  @include sm {
    flex-direction: row;
    padding: 10px;
  }
  @include lg {
    display: flex;
    flex-direction: row;
    padding:40px;
 }
}
.course_time_icon{
  @include sm {
    display: flex;
    font-size: 10px;
  }
  @include lg {
    display: flex;
    font-size: 16px;
 }
}
.pgn__icon {
  @include sm {
    display: block;
    height: 15px !important;
    position: relative;
    width: 15px !important;
    flex-shrink: 0;
  }
  @include lg {
    display: block;
    height: 1.5em;
    position: relative;
    width: 1.5em;
    flex-shrink: 0;
 }
}

.startEndTime{
  @include sm {
    font-size: 10px;
    margin-left: 27px;
    font-weight: bold;
  }
  @include lg {
    font-size: 14px;
    font-weight: bold;
    left: 16px;
    position: relative;
 }
}
.course_dates{
  @include sm {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 !important;
  }
  @include lg {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 12px;
    padding-left: 12px;
 }
 
}

.course_start_date{
  @include sm {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }
  @include lg {
    display: flex;
    flex-direction: column;
    padding: 12 !important;
    max-width: 150px !important;
 }
  
}
.course_seperator{
  @include sm {
    display: none;
  }
  @include lg {
    padding: 12 !important;
    font-size: 30px;
    display: flex;
    justify-content: center;
    max-width: 20px !important;
  }
  
}
.course_end_date {
  @include sm {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }
  @include lg {
    display: flex;
    flex-direction: column;
    padding: 12 !important;
    max-width: 150px !important;
 }
}
.course_duration{
  @include sm {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
    font-size: 12px;
  }
  @include lg {
    display: flex;
    flex-direction: column;
    padding-right: 12px;
    padding-left: 12px;
 }
}
.course_bookmark{
  @include sm {
    display: flex;
    flex-direction: row;
    height: 10px;
    font-size: 12px;
  }
  @include lg {
    display:flex;
    flex-direction:row;
    font-size: 15px;
 }
}

.raised-card {
  @include sm {
    border: 0 !important;
    box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2) !important;
    position: absolute;
    bottom: -15px;
    left: 25%;
  }
  @include lg {
    border: 0 !important;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, .2) !important;
    position: relative;
  }
}
.startResumeBtn{
  @include sm {
    color: #000 !important;
    background-color: #FFF !important;
    border: none !important;
    height: 30px;
    font-size: 12px !important;
  }
  @include lg {
    color: #000 !important;
    background-color: #FFF !important;
    border-color: none !important;
    height: 50px;
    font-size: 14px !important;
  }
}
.course_total_time{
  @include sm {
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
  }
  @include lg {
    font-size:12px;
    line-height: 14px;
  }
}
.align-middle {
  @include sm {
    vertical-align: middle !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
  }
  @include lg {
    vertical-align: middle !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
}

.instructorToolbar{
  @include sm {
    display:none;
  }
  @include lg {
    display: block;
  }
}

.subsection_course {
  @include sm {
    border-bottom: 1px solid #D0D5DD;
    height: 35px;
    font-size: 13px;
  }
  @include lg {
    border-bottom: 1px solid #D0D5DD;
    height: 45px;
    font-size: 15px;
  }
 
}
.text-breakz {
  @include sm {
    word-break: break-word !important;
    word-wrap: break-word !important;
    max-width: 75% !important;
  }
  @include lg {
    word-break: break-word !important;
    word-wrap: break-word !important;
    max-width: 100% !important;
  }
  
}
.course_overview_title{

  @include sm {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 17px !important;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding: 1.5rem 0rem;
    color:#1D2939;
  }
  @include lg {
    width: 350px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px !important;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding: 1.5rem 0rem;
    color:#1D2939;
  }
}

.course_auth_list{
  @include sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8.52px;
    width: 300px;
    height: 45px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  @include lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8.52px;
    width: 343px;
    height: 45px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }
  
}
.couse_inform{
  @include sm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 8.52px;
    width: 300px;
    height: 35px;
    border-bottom: 1px solid #D0D5DD !important;
  }
  @include lg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 8.52px;
    width: 343px;
    height: 35px;
    border-bottom: 1px solid #D0D5DD !important;
  }
}
.course_left{
  @include sm {
    width: 108px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    color: #475467;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  @include lg {
    width: 108px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #475467;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
}
.course_right{
  @include sm {
    width: 125px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: #475467;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: end;
  }
  @include lg {
    width: 125px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #475467;
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: end;
  }
   
}

.expandBtn{
  color: #FFF !important;
}
  
  


 .container {
  @include sm {
  }
  @include lg {
  }
  
}


$black: #2D3137;

@mixin checkbox($color) {
  margin-right: 1rem;
  padding-left: 1.75rem;
  position: relative;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
    &:focus ~ span {
      border: 2px solid lighten($black, 50%);
    }
    &:focus:checked ~ span {
      border: 2px solid darken($color, 15%);
    }
    &:checked ~ span {
      color: $white;
      background: $color url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
      border: 2px solid $color;
    }
  }
  span {
    border-radius: $border-radius;
    left: 0;
    position: absolute;
    top: 4px;
    width: 1.5rem;
    height: 1.5rem;
    background-color: lighten($black, 65%);
    border: 2px solid lighten($black, 65%);
    pointer-events: none;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  } 
}


label.checkbox { 
 @include checkbox($green);
  &.blue {
   @include checkbox($blue);
 }
 &.red {
   @include checkbox($red);
 }
 &.black {
   @include checkbox($black);
 }
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }

  header {
    flex: 0 0 auto;

    .logo {
      display: block;
      box-sizing: content-box;
      position: relative;
      top: 0.1em;
      height: 1.75rem;
      margin-right: 1rem;
      img {
        display: block;
        height: 100%;
      }
    }
  }

  footer {
    flex: 0;
  }
}


.course-tabs-navigation {
  z-index: 5;
  position: relative;
  background: #ffffff00;
  color: #344054;


  .nav a,
  .nav button {
    &:hover {
      border-bottom: 5px solid #026AA2;
    }
  }

  .nav a {
    &:not(.active):hover {
       border-bottom: 5px solid #026AA2;
       font-weight: 600;
    }
  }
}

.nav-underline-tabs {
  margin: 0 0 -1px;

  .nav-link {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    color:#667085;

    // temporary until we can remove .btn class from dropdowns
    border-left: 0;
    border-right: 0;
    border-radius: 0;

    &:hover,
    &:focus,
    &.active {
      font-weight: $font-weight-normal;
      color: #344054;
      border-bottom-color: 2px solid #026AA2;
    }
  }
}

.sequence-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 4rem;

  // On mobile, the unit container will be responsible
  // for container padding.
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.sequence {
  @media (min-width: map-get($grid-breakpoints, "sm")) {
    border: solid 1px #eaeaea;
    border-radius: 4px;
  }
}

.sequence-navigation {
  display: flex;

  @media (min-width: map-get($grid-breakpoints, "sm")) {
    margin: -1px -1px 0;
  }

  .btn {
    flex-grow: 1;
    display: inline-flex;
    border-radius: 0;
    border: solid 1px #eaeaea;
    border-left-width: 0;
    position: relative;
    font-weight: 400;
    padding: 0 0.375rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: $gray-500;
    white-space: nowrap;

    &:hover,
    &:focus,
    &.active {
      color: $gray-700;
    }

    &:focus {
      z-index: 1;
    }

    &.active {
      &:after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        height: 2px;
        background: $primary;
      }
    }

    &.complete {
      background-color: #eef7e5;
      color: $success;
    }

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }
  }

  .sequence-navigation-tabs-container {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    display: flex;
    // min-width 0 prevents the flex item from overflowing the parent container
    // https://dev.to/martyhimmel/quick-tip-to-stop-flexbox-from-overflowing-peb
    min-width: 0;
  }

  .sequence-navigation-tabs {
    .btn {
      flex-basis: 100%;
      min-width: 2rem;
    }
  }

  .sequence-navigation-dropdown {
    .dropdown-menu .btn {
      flex-basis: 100%;
      min-width: 4rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      border-right: 0;

      & + .btn {
        border-top: 0;
      }

      .unit-title {
        flex-grow: 1;
        text-align: left;
        overflow: hidden;
        min-width: 0;
        margin: 0 1rem;
        text-overflow: ellipsis;
        color: $gray-700;
      }

      &.active {
        .unit-icon {
          color: $primary-500;
        }

        &:after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          top: 0px;
          right: auto;
          width: 2px;
          height: auto;
          background: $primary;
        }
      }
    }

    .dropdown-item {
      &.active {
        // This is un-doing the default react-bootstrap styling for active dropdown-item elements.
        background-color: transparent;
      }
    }
  }

  .previous-btn,
  .next-btn {
    border: 1px solid $light-400 !important;
    color: $gray-700;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @media (max-width: -1 + map-get($grid-breakpoints, "sm")) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      min-width: fit-content;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .previous-btn {
    border-left-width: 0;
    margin-left: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      border-left-width: 1px;
      border-top-left-radius: 4px;
    }
  }

  .next-btn {
    border-left-width: 1px;
    border-right-width: 0;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      border-top-right-radius: 4px;
      border-right-width: 1px;
    }
  }
}
.course-title-lockup{
  visibility: hidden;
}
.footer{
  visibility: collapse;
  display: none !important;
}
.unit-container {
  padding: 0 $grid-gutter-width 2rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 830px) {
  }
}
.assess-unit-container {
  padding: 0 $grid-gutter-width 2rem;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 830px) {
  }
}
.unit-iframe-wrapper {
  margin: 0 -20px 2rem;

  @media (min-width: 830px) {
    margin: 0 -40px 2rem;
  }
}

#unit-iframe {
  width: 100%;
  border: none;
  display: block;
}

.unit-navigation {
  display: flex;
  justify-content: center;
  max-width: 640px;
  margin: 0 auto;

  .previous-button,
  .next-button {
    white-space: nowrap;
    border-radius: 4px;

    &:focus:before {
      border-radius: 6px;
    }
  }

  .next-button {
    flex-basis: 75%;
  }

  .previous-button {
    flex-basis: 25%;
  }
}
.modal-lti {
  height: 100%;
  max-width: 100% !important;

  // I don't like this.  We need to set a height of 100% on a div created by react-focus-on, a
  // package we use in our Modal.  That div has no class name or ID, so instead we're uniquely
  // identifying it by based on a unique attribute it has which its siblings don't share.
  > div[data-focus-lock-disabled="false"] {
    height: 100%;
  }

  // Along with setting the height of modal-content's parent div from react-focus-on, we need to
  // set modal-content's height as well to get the modal to expand to full-screen height.
  .modal-content {
    height: 100%;
  }
}

.greyed-out {
  opacity: 0.3;
}

.locked-overlay {
  opacity: 0.3;
  pointer-events: none;

  &.grades {
    overflow: hidden;
    max-height: 852px;
    @media screen and (min-width: 992px) {
      max-height: 920px;
    }
  }
}


// Custom styles



.assessmentSection{
  padding-left: 40px;
  padding-right: 40px;
}




  .back_img {
    position: absolute;
    z-index: 1;
    height: 100%;
    background-size: cover;
    width: 100%;
    filter: blur(4.5px);
    object-fit: cover;
  }

  .back_grad{
    background: radial-gradient(41.72% 41.72% at 50% 47.59%, rgba(0, 0, 0, 0) 1.35%, rgba(0, 0, 0, 0.099) 1.36%, rgba(0, 0, 0, 0.77265) 99.99%, rgba(0, 0, 0, 0.774) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
  }

  .item-info{
    color: #344054;
  }

  .course-outline-tab{
    padding-left: 50px;
    padding-right: 50px;
    background: #FFF;
    color:#344054;
  }

  .course_details_left{
    display:flex;
    flex-direction:column;
    position: absolute !important;
    z-index: 3;
    height: 100%;

  }



  

 
  
 
  .course_status_right {
    display: grid;
    align-items: end;
    justify-content: center;
    position: absolute !important;
    right:20px;
    bottom:10px;
    z-index: 3;
  }

  .course_expand_section{
    display:flex;
    justify-content: space-between;
  }

  .course_overview_description{
    line-break: loose;
    font-size: 16px;
    text-align: justify;
  }
  .text-bread-crumbs{
    color:rgb(18, 18, 18) !important;
  }
  .bread-crumbs-ico{
    color: rgb(42, 36, 36) !important;
  }
  .radial_grad{
    background: radial-gradient(23.72% 23.72% at 50% 47.59%, rgba(0, 0, 0, 0) 1.35%, rgba(0, 0, 0, 0.099) 1.36%, rgba(0, 0, 0, 0.77265) 99.99%, rgba(0, 0, 0, 0.774) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
  }
  .course_desc_abt{
  width: 400px;
  height: 30px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 21.405px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #1D2939;
  flex: none;
  order: 0;
  flex-grow: 0;
  }
  .collapsible-trigger{
    border-left: 4px solid #014384;
    padding: 0.75rem 1.25rem !important;
    background: #FFF !important;
    color: #344054 important;
    box-shadow: 0px 0px 12px -2px rgba(16, 24, 40, 0.1), 0px 1px 8px -2px rgba(16, 24, 40, 0.06) !important;
  }
  .collapsible-card-lg {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.375rem;
  }
  .alert-info {  
    color: #344054 !important;
    background-color: #FFF !important;
    border-color: #75acca !important;
    box-shadow: 0px 0px 12px -2px rgba(16, 24, 40, 0.1), 0px 1px 8px -2px rgba(16, 24, 40, 0.06) !important;
  }
 
  .align-middle-sidebar {
    vertical-align: middle !important;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 0px;
  }
 
 

 
  
  .course_descrip{
    width: 343px;
    height: 210px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    color: #344054;
    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .course_tree_desc{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: justify;
    color: #344054;
    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .course_sidebar_tree{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #1D2939;
    flex: none;
  }

  .course_tools_section{
    height: 220px;
  }
  .custom_sidebar{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    left: 1227px;
    top: 144px;
    background: #FFFFFF;
    box-shadow: 0px 11px 25px rgba(16, 24, 40, 0.1);
    border-radius: 15px;

  }
  .left_section_course{
    padding-top:8px;
    box-shadow: 0px 0px 12px -2px rgba(16,24,40,0.1), 0px 1px 8px -2px rgba(16, 24, 40, 0.06);
  }
  .hr_course{
    border-top: 1px solid #D0D5DD;
  }
  .course_mark_icon{
    height: 20px !important;
  }

  a{
    color:#344054 !important;
  }
  .bookmark_icn{
    color:#fff !important;
  }
  .bookmark_icn:hover {
    text-decoration: none !important;
    cursor: pointer;
  }

  .unit-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .course-nav-links{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align:end;
  }
  
  .course-nav-links a{
    cursor: pointer;
  }

  .course-nav-links a:hover{
    border-bottom: 3px solid  #02407C;
  }
 
  .course-title-lockup{
    color:#FFF !important;
  }
  .video_screens{
    min-height: 500px;
    min-width: 100%;
    border:1px solid red;
  }
  .video_desc{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hands-on-lab{
    width: 100%;
  }
  .course_navbar{
    display: flex;
    flex-direction: row;
  }
  .start_assessment{
    color:#fff !important;
    width: 250px;
    height: 61px;
    background: linear-gradient(98.94deg, #014384 -10.01%, #0192D9 107.52%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    border: none !important; 
    margin-left: 0 !important;
    left: -40px !important;
    position: relative !important;
  }
  .assessment_title{
    display: flex;
    flex-direction: row;
  }
  .assessment_title_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px;
    height: 50px;
    background: #EEF2F6;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  .assessment_title_name{
    margin-left:10px;
  }
  .assessment_guidelines{
    word-break: break-all;
  }
 
 
 
// Import component-specific sass files
@import "courseware/course/celebration/CelebrationModal.scss";
@import "courseware/course/sidebar/sidebars/notifications/NotificationIcon.scss";
@import "courseware/course/sequence/lock-paywall/LockPaywall.scss";
@import "shared/streak-celebration/StreakCelebrationModal.scss";
@import "courseware/course/content-tools/calculator/calculator.scss";
@import "courseware/course/content-tools/contentTools.scss";
@import "course-home/dates-tab/timeline/Day.scss";
@import "generic/upgrade-notification/UpgradeNotification.scss";
@import "generic/upsell-bullets/UpsellBullets.scss";
@import "course-home/outline-tab/widgets/ProctoringInfoPanel.scss";
@import "src/course-home/outline-tab/widgets/FlagButton.scss";
@import "course-home/progress-tab/course-completion/CompletionDonutChart.scss";
@import "course-home/progress-tab/grades/course-grade/GradeBar.scss";
@import "courseware/course/course-exit/CourseRecommendations";
@import "product-tours/newUserCourseHomeTour/NewUserCourseHomeTourModal.scss";
